

.items {
  list-style: none;
  width: 100%;
  max-width: 388px;
  padding-left: 10px;
  margin-top: 20px;
}
.item {
  background: #FFF;
  -moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.12);
  box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.12);
  color: #6F6F6F;
  cursor: pointer;
  padding: 13px 16px 13px 16px;
  font-size: 13pt;
  font-weight: 300;
  display: block;
  min-width: 100px;
  max-width: 300px;
  min-height: 25px;
  margin-right: 4px;
  margin-bottom: 10px;

  i {
    color: #ADADAD;
    cursor: pointer;
    display: none;
    font-size: 16pt;
    margin-top: 4px;
    background: inherit;

    &:hover {
      color: #333;
    }
  }

  &.empty {
    box-shadow: none;
    border: 1px dashed #BBBBBB;
    background: transparent;
  }

  &:hover {
    i {
      padding-right: 0px;
      line-height: 0px;
      display: inline-block;
      position: absolute;
      top: 13px;
      right: 8px;
      width: 30px;
      height: 25px;
      text-align: center;
    }
  }
}

.item, .touch-point-expanded .touch-point-container .comments ul li.area {
  &.green {
    background-color: #03d689;
    color: white;

    i {
      color: #FFF;
    }
  }
  &.yellow {
    background-color: #FFEA7D;
  }
  &.orange {
    background-color: #FFC76C;
  }
  &.red {
    background-color: #FF7D7D;
    color: white;

    i {
      color: #f5f5f5;

      &:hover {
        color: white;
      }
    }
  }
  &.blue {
    background-color: #C3DFFF;
  }
}

input {
  border: 0;
  color: inherit;
  font-weight: 300;
  font-size: 11pt;
  padding: 9px 0px 9px 15px;
  margin: 3px 3px 3px 0;
  min-width: 80px;
  max-width: 337px;
  width: 84%;
  &::-webkit-input-placeholder {
    color: rgba(255,255,255,0.7);
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: rgba(255,255,255,0.7);
  }
  &::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(255,255,255,0.7);
  }
  &:-ms-input-placeholder {
    color: rgba(255,255,255,0.7);
  }

  &:focus {
    outline: none;
    width: auto;
  }

  &.item-edit {
    background: transparent;
  }
}

.item {
  position: relative;

  state {
    margin: 3px 5px 0 0;
    vertical-align: top;
  }

  .icon-open {
    position: absolute;
  }
  .touch-point-text {
    display: inline-block;
    width: 257px;
  }
}

.touch-point-expanded .touch-point-container .comments ul li {
  background: transparent;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  display:block;

  input {
    background: none;
    color: white;
  }
}
