.container {
  max-width: inherit;
  margin: 0;
}

.padded-left {
  padding-left: 10px;
}

.column, .columns {
  position: relative;
}

#iron-router-progress {
    background-color : #0397d6;
    box-shadow       : none;
}


canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } 
