@import 'variables';

nav.navbar {
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 999;
}

.tile .menu-toggle {
    color: #ADADAD;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 799;

    &.close {
        &::before {
        content: "2";
        font-size: 10pt;
      }
    }

    &:hover {
      color: #333;
    }
}

.tile .menu {
  background: #f5f5f5;
  -moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.22);
  box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.22);
  display: none;
  padding: 7px 10px 10px 10px;
  position: absolute;
  height: 300px;
  top: 2px;
  right: 2px;
  width: 200px;
  z-index: 999;



  ul {
    list-style: none;
    padding-left: 0;

    li {
      border-bottom: 1px solid #e3e3e3;
      cursor: pointer;
      margin-left: 0;
      padding: 10px;
      width: 90%;

      &:hover {
        color: #666;
        background: white;
      }

      i {
        margin-right: 10px;
      }
    }
  }
}

// button {
//   vertical-align: middle;
// }
// button i, .menu {
//   font-size: 22pt;
//   color: #7D7D7D;
//   cursor: pointer;
// }
.sidebar {
  display: none;
  background: white;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 8999;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);

  h1 {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    width: 100%;
  }

  small {
    padding: 15px;
    color: @primaryTextColor;
    display: inline-block;
  }

  img {
    width: 100%;
  }

  .close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    &:hover {
      color: #666;
    }
  }

  .logout {
    position: absolute;
    bottom: 15px;
    right: 15px;
    min-width: 12px;
    padding: 13px 20px;
    background: transparent;
    color: #666;
  }

  ul {
    list-style: none;
    padding-left: 0px;

    li {
      margin-left: 0px;

      button {
        margin-top: 0px;
        margin-bottom: 10px;
        min-width: 250px;
        width: 90%;
        display: block;

        &.btn-primary {
          background-color: @primaryColor;

          &:hover {
            background-color: rgba(3, 151, 214, 0.9);
          }
        }
      }
    }
  }
}
.menu {
  background-color: white;
  display: inline-block;
  padding: 3px 8px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 23px;
  height: 100%;

  .icon-arrange-2-1 {
    font-size: 18px;
    color: #666;
    display: inline-block;
    cursor: pointer;
    padding: 13px;

    &:hover {
      background: rgba(3, 151, 214, 1);
      color: white;
    }
  }
}

.page {
  margin-left: 45px;
}
