<head>
  <title>Touch Points | Customer Experience</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<template name="loading">
  {{> particles}}
</template>

<template name="particles">
  <div id="particles-js" class="animated fadeIn"></div>
</template>

<template name="layout">
  <div class="menu sidebar-toggle hide">
    <div class="menu icon-arrange-2-1"></div>
  </div>
  <div class="sidebar animated bounceInLeft">
    <img src="/images/logo_menu.png" />
    <ul>
      <li><button class="new-flow btn btn-primary">Add flow</button></li>
    </ul>
    <h1>Your flows</h1>
    <small>Your first flow is automatically labelled main flow. This will become editable soon.</small>
    <ul>
      <li><button class="btn btn-secondary main-flow flow  {{#if isFlowActive this._id}}active{{/if}}">Main flow</button></li>
      {{#each flows}}
        {{> flow this}}
      {{/each}}
    </ul>
    <div class="close-menu"><i class="icon-delete"></i></div>
    <button class="logout"><i class="icon-log-out"></i></button>
  </div>
  {{#if currentUser}}
  <div class="actions">
    <div class="new-list-icon icon-add"></div>    
  </div>
  {{else}}
  <nav class="navbar">
    <div class="logo">
      <img class="mono" src="/images/logo.png" />
      <div class="logo-text">
        <!-- <img src="/logo-text.png" /> -->
      </div>
    </div>
  </nav>
  {{/if}}
  <div class="page">
    {{>yield}}
  </div>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800' rel='stylesheet' type='text/css'>
  <link href="https://fontastic.s3.amazonaws.com/pEqu8kpiTd9wEGeJgtA4b4/icons.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css'>
</template>

<template name="flow">
  <li><button class="btn btn-secondary flow {{#if isFlowActive this._id}}active{{/if}}"><input class="editFlowName" value="{{this.name}}"><i class="icon-arrow-right pull-right"></i> </button></li>
</template>
