<template name="itemExpanded">
  <div class="touch-point-expanded">
    <div class="item-overlay overlay">
      <div class="up-level"><i class="icon-up"></i> Back to flow</div>
      <div class="touch-point-container">
        {{> editableItem this}}
        <button class="archive"><i class="icon-briefcase archive bounceIn"></i> Archive touch point</button>
        {{> comments}}
      </div>
    </div>
  </div>
</template>

<template name="comments">
  <div class="comments">
    <ul>
      {{#each areas}}
        {{> area this}}
      {{/each}}
    </ul>

    <i class="icon-bubble-chat-1 new-comment"></i><input type="text" class="new-comment new-comment-text" placeholder="Area name..." />
    <button class="post-comment">Add area <i class="icon-enter"></i></button>
  </div>
</template>

<template name="area">
  <li class="area {{this.color}}"><input class="area-text" value="{{this.name}}"><i class="archive-comment icon-briefcase"></i></li>
</template>

<template name="item">
  <li class="item {{this.color}}" data-id="{{this.index}}" id="{{this._id}}"><div class="touch-point-text">{{this.name}}</div> <i class="icon-open bounceIn expand"></i></li>
</template>

<template name="editableItem">
  <li class="item {{this.color}}" data-id="{{this.index}}" id="{{this._id}}">
    <input value="{{this.name}}" class="item-edit"/></li>
  </template>
