<template name="tile">
  <div class="tile">
    <div class="hidden overlay {{#if owner}}{{ incognito_state }}{{/if}}">
      <i class="icon-switch-2-1 incognito"></i>
    </div>

    <div class="hidden overlay sharing-pane">
      <i class="icon-id-7"></i>
      <h1>Share {{this.name}}</h1>
      <p><small>This feature is in <strong>beta</strong>. This will only work for Gmail or Google Apps accounts for now.</small></p>
      <input class="alt collaborator-email" type="text" value="" placeholder="Email..." />
      <button class="invite-collaborator">Invite collaborator</button><br>
      <small>or, <span class="link toggle-share">cancel</span></small>
    </div>
    <!-- <div class=" {{ lock_state }}">
      <i class="icon-lock-1 locked"></i>
      {{> lockpad}}
    </div> -->
    <div class="name-container">
      <!-- <span class="highlight"></span> -->
      <input class="name" type="text" value="{{this.name}}"/>
    </div>
    {{> menu}}
    <ul class="items" id="{{this._id}}">
      {{#each items}}
        {{> item this}}
      {{/each}}
    </ul>
    <input class="new-item" type="text" value="" placeholder="Touch point..." />
  </div>
</template>

<template name="menu">
  <i class="icon-setting-adjustment menu-toggle"></i>
  <div class="menu">
    <ul>
      <!-- <li><i class="icon-id-7"></i> Share</li> -->
      <!-- {{#if owner}}<li class="incognito"><i class="icon-switch-2"></i> Incognito</li>{{/if}} -->
      <!-- {{#if owner}}<li class="share"><i class="icon-id-7"></i> Add collaborator</li>{{/if}} -->
      <!-- {{#if collaborator}}<li class=""><i class="icon-id-7"></i> You're a collaborator on this list.<br><small>This feature is still in <strong>beta</strong> and so could be unstable.</small></li>{{/if}} -->
      <!-- <li class="unlock-step-1"><i class="icon-lock-1"></i> Lock</li> -->
      <li>You cannot undo archive at the moment. Use with care!</li>
      <li class="archive warning"><i class="icon-briefcase"></i> Archive</li>
    </ul>
  </div>
</template>

<template name="lockpad">
  <input type="password"  />
  <div class="row">
    <div class="dialer">1</div>
    <div class="dialer">2</div>
    <div class="dialer">3</div>
  </div>
  <div class="row">
    <div class="dialer">4</div>
    <div class="dialer">5</div>
    <div class="dialer">6</div>
  </div>
  <div class="row">
    <div class="dialer">7</div>
    <div class="dialer">8</div>
    <div class="dialer">9</div>
  </div>
  <div class="row">
    <div class="dialer">C</div>
    <div class="dialer">0</div>
    <div class="dialer"><i class="icon-lock-unlock-1"></i></div>
  </div>
</template>
