<template name="tile">
  <div class="tile {{#if tiled}}tiled{{/if}}">
    <div class="name-container">
      <input class="name" type="text" value="{{this.name}}"/>
    </div>
    {{> menu}}
    <ul class="items" id="{{this._id}}">
      {{#if empty}}
        <li class="item empty">Drag an item here or create one</li>
      {{/if}}
      {{#each items}}
        {{> item this}}
      {{/each}}
    </ul>
    <input class="new-item" type="text" value="" placeholder="Touch point..." />
  </div>
</template>

<template name="menu">
  <i class="icon-setting-adjustment menu-toggle"></i>
  <div class="menu menu-tile animated flipInY">
    <ul>
      <li>You cannot undo archive at the moment. Use with care!</li>
      <li class="warning relatively-positioned">
        <div class="start-archive">
          <i class="icon-briefcase"></i> Archive
        </div>
        <div class="manual-validation archive-stage animated fadeInRight">
          <div class="label">Sure?</div> <button class="btn yes">Yes</button> <button class="btn btn-primary no">No</button>
        </div>
      </li>

    </ul>
  </div>
</template>
