<template name="touchpoint">
  <overlay class="animated fadeIn">
    <box class="animated bounceInDown">
      <touchpoints>
        <ul>
          <li class="title">{{stage}}</li>
        </ul>
        <ul class="scroll-height-80 quickLink">
          {{#each touchpoints}}
            <li class="{{isActiveTouchPoint touchpoint}} touchPointLink"><a href="/points/{{this._id}}">{{this.name}}</a></li>
          {{/each}}
        </ul>
      </touchpoints>
      <touchpoint>
        <content>
          <header>
            <h1><state class="{{this.color}} color"></state>{{this.name}}</h1>
            <i class="icon-cloud-checked"></i>
          </header>
          <areas>
            <h2>Areas</h2>
            <p>This touch point is built from the following areas:</p>
            <ul>
              {{#each areas}}
                {{> arealistitem}}
              {{/each}}
            </ul>
            <new>
              <p>Add new areas to track additional aspects of the touch point.</p>
              <input class="addible newAreaName" placeholder="Area title..">
              <button class="btn addArea">Add area</button>
            </new>
          </areas>
        </content>
        <context>
          <i class="icon-delete close"></i>
          <h2><i class="icon-bubble-conversation-1"></i> Notes & Context</h2>

            {{> comments}}        
        </context>
      </touchpoint>
    </box>
  </overlay>
</template>

<template name="arealistitem">
    <li><state class="{{this.color}} color"></state> {{this.name}}</li>
</template>
