<template name="touchpoint">
  <overlay class="animated fadeIn">
    <box class="animated bounceInDown">
      <touchpoints>
        <ul>
          <li class="title">{{stage}}</li>
        </ul>
        <ul class="scroll-height-80 quickLink">
          {{#each touchpoints}}
            <li class="{{isActiveTouchPoint touchpoint}} touchPointLink"><a href="/points/{{this._id}}">{{this.name}}</a></li>
          {{/each}}
        </ul>
      </touchpoints>
      <touchpoint>
        <content>
          <header>
            <h1><state class="{{this.color}} color"></state><input type="text" class="touchpoint-name" value="{{this.name}}"/></h1>
            <i class="icon-briefcase start-archive"></i>
            <div class="manual-validation archive-touchpoint animated fadeInRight">
              <div class="label">Sure?</div> <button class="btn yes">Yes</button> <button class="btn btn-primary no">No</button>
            </div>
            <i class="icon-cloud-checked"></i>
          </header>
          <areas>
            <h2>Areas</h2>
            <p>This touch point is built from the following areas:</p>
            <ul>
              {{#each areas}}
                {{> arealistitem}}
              {{/each}}
            </ul>
            <new>
              <p>Add new areas to track additional aspects of the touch point.</p>
              <input class="addible newAreaName" placeholder="Area title..">
              <button class="btn addArea">Add area</button>
            </new>
          </areas>
        </content>
        <context>
          <i class="icon-delete close"></i>
          <h2><i class="icon-bubble-conversation-1"></i> Notes & Context</h2>
            {{> comments}}
        </context>
      </touchpoint>
    </box>
  </overlay>
</template>

<template name="arealistitem">
    <li class="areaListItem">
      <div class="row">
        <div class="one column">
          <state class="{{this.color}} color"></state>
        </div>
        <div class="nine columns padded-left">
          {{{text}}}
        </div>
        <div class="one column">
          <i class="icon-briefcase start-archive start-area-archive"></i>
          <div class="manual-validation archive-area animated fadeInRight">
            <div class="label">Sure?</div> <button class="btn yes">Yes</button> <button class="btn btn-primary no">No</button>
          </div>
        </div>
      </div>
      <div class="pull-right">

      </div>
    </li>
</template>
